<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="assets/logo_brand.png" alt="Logo de Eleonora Sticoni"
                id="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="/home" class="nav-link" aria-current="page">INICIO</a>
                <a (click)="scrollTo('community')" class="nav-link">COMUNIDAD</a>
                <a routerLink="/about-me" class="nav-link">SOBRE MI</a>
                <a routerLink="/gallery" class="nav-link">GALERÍA</a>
                <a routerLink="/formation" class="nav-link">FORMACIÓN Y TALLERES</a>
            </div>
        </div>
    </div>
</nav>