<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="assets/logo.png" alt="Logo de Eleonora Sticoni"
                id="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink='/home' (click)="closeNavbar()" routerLinkActive='active' class="nav-link" aria-current="page">Inicio</a>
                <a routerLink='/contact' (click)="closeNavbar()" routerLinkActive='active' class="nav-link">Contacto</a>
            </div>
        </div>
    </div>
</nav>