<div class="container-fluid contact-container">
    <div class="contact_form">
        <div class="formulario">
            <h1 class="form-title">Formulario de contacto</h1>
            <h3 class="form-subtitle">Escríbenos y a la brevedad nos pondremos en contacto contigo</h3>
            <form action="https://formsubmit.co/ele.coachintegral@gmail.com" method="POST">
                
                <div class="form-input">
                    <label for="nombre" class="colocar_nombre">Nombre
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="text" name="name" id="nombre" required="obligatorio"
                        placeholder="Escribe tu nombre">
                </div>

                <div class="form-input">
                    <label for="email" class="colocar_email">Email
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="email" name="email" id="email" required="obligatorio"
                        placeholder="Escribe tu Email">
                </div>


                <div class="form-input">
                    <label for="asunto" class="colocar_asunto">Asunto
                        <span class="obligatorio">*</span>
                    </label>
                    <select id="select-subject" name="subject" required="obligatorio">
                        <option value selected>¡Hola! Me comunico para...</option>
                        <option>Sesiones 1 a 1</option>
                        <option>Coaching Integral</option>
                        <option>Coaching Ontológico</option>
                        <option>Asesoría Jurídica</option>
                    </select>
                    
                </div>

                <div class="form-input">
                    <label for="mensaje" class="colocar_mensaje">Mensaje
                        <span class="obligatorio">*</span>
                    </label>
                    <textarea name="comments" rows="3" class="texto_mensaje" id="mensaje" required="obligatorio"
                        placeholder="Deja aquí tu comentario..."></textarea>
                </div>

                <button type="submit" name="enviar_formulario" id="form-button">Enviar</button>

                <p class="aviso">
                    <span class="obligatorio"> * </span>los campos son obligatorios.
                </p>


            </form>
        </div>
    </div>
</div>