<ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
	<ng-template class="carousel" ngbSlide>
		<div class="d-flex flex-md-row flex-column  justify-content-center align-items-center carousel-content">
			<div>
				<h1 class="title">
					<b>”</b>
				</h1>
				<p class="text">
					"Descubrir el mindfulness ha sido un verdadero regalo en mi vida. Antes de comenzar con esta
					práctica, me sentía constantemente atrapada en la vorágine del estrés y la ansiedad. Pero desde que
					incorporé la atención plena en mi rutina diaria, he experimentado una transformación increíble.
					Ahora, puedo enfrentar los desafíos con calma y claridad mental. Me siento más conectada conmigo
					misma y con el mundo que me rodea. El mindfulness me ha brindado una sensación de paz interior que
					nunca antes había experimentado. Estoy profundamente agradecida por haber encontrado esta
					herramienta que ha mejorado mi vida en todos los aspectos".
				</p>
			</div>
			<div class="img-container">
				<img class="carousel-img" src="../../../assets/testimonials/testimonials-3.jpg" />
			</div>
		</div>
	</ng-template>
	<ng-template class="carousel" ngbSlide>
		<div class="d-flex flex-md-row flex-column  justify-content-center align-items-center carousel-content">
			<div>
				<h1 class="title">
					<b>”</b>
				</h1>
				<p class="text">
					"Durante años, me encontraba atrapado en un ciclo constante de preocupación y estrés. Sentía que mi
					mente estaba siempre ocupada con pensamientos negativos y anticipación del futuro. Sin embargo,
					después de incorporar el mindfulness en mi vida, he experimentado una notable transformación. Ahora
					puedo observar mis pensamientos sin juzgar y vivir más plenamente en el momento presente. Esta
					práctica me ha permitido reducir el estrés, mejorar mi concentración y fortalecer mis relaciones
					personales. Me siento más en paz conmigo mismo y con el mundo que me rodea. El mindfulness ha sido
					verdaderamente un cambio de vida para mí".

				</p>
			</div>
			<div>
				<img class="carousel-img" src="../../../assets/testimonials/testimonials-4.jpg" />
			</div>
		</div>
	</ng-template>
	<ng-template class="carousel" ngbSlide>
		<div class="d-flex flex-md-row flex-column  justify-content-center align-items-center carousel-content">
			<div>
				<h1 class="title">
					<b>”</b>
				</h1>
				<p class="text">
					"El mindfulness me ha ayudado a reconectar conmigo misma en un nivel más profundo. Me ha permitido
					ser más consciente de mis pensamientos y emociones, lo que ha mejorado mis relaciones personales y
					mi bienestar general. Ahora me siento más equilibrada y en control de mi vida".

				</p>
			</div>
			<div>
				<img class="carousel-img" src="../../../assets/testimonials/testimonials-5.jpg" />
			</div>
		</div>
	</ng-template>
	<ng-template class="carousel" ngbSlide>
		<div class="d-flex flex-md-row flex-column  justify-content-center align-items-center carousel-content">
			<div>
				<h1 class="title">
					<b>”</b>
				</h1>
				<p class="text">
					"Nunca antes había sentido tanta conexión con mi feminidad como durante la bendición de útero. Fue
					una experiencia sagrada y sanadora que me permitió liberar viejos traumas y abrazar mi poder
					interior como mujer. Me siento más equilibrada, más centrada y más conectada con mi intuición desde
					entonces".

				</p>
			</div>
			<div>
				<img class="carousel-img" src="../../../assets/testimonials/testimonials-6.jpg" />
			</div>
		</div>
	</ng-template>
	<ng-template class="carousel" ngbSlide>
		<div class="d-flex flex-md-row flex-column  justify-content-center align-items-center carousel-content">
			<div>
				<h1 class="title">
					<b>”</b>
				</h1>
				<p class="text">
					"La bendición de útero fue una experiencia transformadora para mí. Me ayudó a liberar emociones
					reprimidas y a abrirme a la plenitud de mi ser femenino. Después de recibir esta bendición,
					experimenté una mayor claridad mental y una sensación de renovación en todos los aspectos de mi
					vida".
				</p>
			</div>
			<div>
				<img class="carousel-img" src="../../../assets/testimonials/testimonials-7.jpg" />
			</div>
		</div>
	</ng-template>
	<ng-template class="carousel" ngbSlide>
		<div class="d-flex flex-md-row flex-column  justify-content-center align-items-center carousel-content">
			<div>
				<h1 class="title">
					<b>”</b>
				</h1>
				<p class="text">
					"La decodificación familiar ha sido una experiencia reveladora para mí. Me ayudó a comprender
					patrones y dinámicas en mi familia que nunca antes había notado. Gracias a este proceso, he podido
					sanar relaciones difíciles y encontrar una mayor paz interior".
				</p>
			</div>
			<div>
				<img class="carousel-img" src="../../../assets/testimonials/testimonials-1.jpg" />
			</div>
		</div>
	</ng-template>
	<ng-template class="carousel" ngbSlide>
		<div class="d-flex flex-md-row flex-column  justify-content-center align-items-center carousel-content">
			<div>
				<h1 class="title">
					<b>”</b>
				</h1>
				<p class="text">
					“Gracias Querida Eli por el mensaje de caaadaaa día, gracias por no cansarte, por tenerme siempre
					presente, gracias por tu infinito amor para todos, te abrazo con el ❤”
				</p>
			</div>
			<div>
				<img class="carousel-img" src="../../../assets/testimonials/testimonials-9.jpg" />
			</div>
		</div>
	</ng-template>
	<ng-template class="carousel" ngbSlide>
		<div class="d-flex flex-md-row flex-column  justify-content-center align-items-center carousel-content">
			<div>
				<h1 class="title">
					<b>”</b>
				</h1>
				<p class="text">
					“💜 hoy abrazo esta experiencia vivida agradeciendote Ele querida por todo el aprendizaje,
					acompañamiento, momentos, por cada detalle y por tanta luz
					Este caminito que nos abriste de auto descubrimiento, amor comprensión, expansión hacía nosotras,
					hacía el otro y hacia la vida lo guardo en el corazón.
					Ame lo vivido, gracias infinitas por todo lo compartido”

				</p>
			</div>
			<div>
				<img class="carousel-img" src="../../../assets/testimonials/testimonials-10.jpg" />
			</div>
		</div>
	</ng-template>
	<ng-template class="carousel" ngbSlide>
		<div class="d-flex flex-md-row flex-column  justify-content-center align-items-center carousel-content">
			<div>
				<h1 class="title">
					<b>”</b>
				</h1>
				<p class="text">
					"Como emprendedora, el coaching integral me brindó las herramientas y la mentalidad necesarias para
					llevar mi negocio al siguiente nivel. A través del proceso de coaching, pude identificar mis
					bloqueos internos y trabajar en superarlos. Ahora tengo una visión clara de mis objetivos y estoy
					tomando medidas concretas para alcanzarlos. El coaching integral ha sido una inversión invaluable en
					mí misma y en mi futuro".
				</p>
			</div>
			<div>
				<img class="carousel-img" src="../../../assets/testimonials/testimonials-11.jpg" />
			</div>
		</div>
	</ng-template>
	<ng-template class="carousel" ngbSlide>
		<div class="d-flex flex-md-row flex-column  justify-content-center align-items-center carousel-content">
			<div>
				<h1 class="title">
					<b>”</b>
				</h1>
				<p class="text">
					"El coaching integral me ayudó a encontrar un equilibrio entre todas las áreas de mi vida: trabajo,
					relaciones, salud y desarrollo personal. A través de sesiones de coaching enfocadas y reflexivas,
					pude identificar mis fortalezas y superar mis limitaciones. Estoy muy agradecido por el apoyo y la
					orientación que recibí, y estoy viendo resultados tangibles en todas las áreas de mi vida".
				</p>
			</div>
			<div>
				<img class="carousel-img" src="../../../assets/testimonials/testimonials-2.jpg">
			</div>
		</div>
	</ng-template>

</ngb-carousel>