<footer class="text-center p-0 text-lg-start text-muted">
    <section class="d-flex justify-content-center justify-content-lg-center p-4 w-100">
        <div>
            <a href="https://www.instagram.com/eleonora.sticoni/" target="_blank" class="mx-3">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://wa.me/5493584197258" target="_blank" class="mx-3">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </section>
    <section>
        <div class="container text-center text-md-start mt-5">
            <div class="row p-4">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <img src="../../../assets/logo_brand.png" class="logo-footer" alt="">
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Sobre Eleonora
                    </h6>
                    <p>
                        <a (click)="goToRoute('/about-me')">Sobre mi</a>
                    </p>
                    <p>
                        <a (click)="goToRoute('/gallery')">Galería</a>
                    </p>
                    <p>
                        <a (click)="scrollTo('testimonials')">Testimonios</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        RECURSOS
                    </h6>
                    <p>
                        <a (click)="goToRoute('/home')">Inicio</a>
                    </p>
                    <p>
                        <a (click)="scrollTo('community')">Comunidad</a>
                    </p>
                    <p>
                        <a (click)="goToRoute('/formation')">Formación y Talleres</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4 w-100 copyright" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="fw-bold" href="https://eleonora-sticoni.com/">Eleonora Sticoni</a>
    </div>
</footer>