<div class="landscape-container landscape-gallery">
    <h1  data-aos="zoom-out" class="text-center">Galería</h1>
    <h2  data-aos="zoom-out" class="subtitle-landscape">Momentos de conocimiento y enseñanza</h2>

</div>

<section class="row mt-5 p-2">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 ">
        <img src="../../../assets/formation_1.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_2.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0 d-flex justify-content-center align-items-center">
        <img src="../../../assets/formation_6.jpg" class="w-100 shadow-1-strong rounded"
            alt="Foto capturada en una de las formaciones" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_5.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_3.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_7.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_10.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_9.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_8.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_11.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_12.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>



    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_13.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_17.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_14.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
        <img src="../../../assets/formation_19.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_15.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_18.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
</section>