
<h1 class="title pt-5">GALERÍA</h1>
<div class="divisor my-3">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 30 30" xml:space="preserve">
        <polygon
            points="15,1.5 17.1,8.6 22.9,4.1 20.4,11 27.7,10.8 21.7,15 27.7,19.2 20.4,19 22.8,25.9 17.1,21.4 15,28.5 12.9,21.4 7.1,25.9 9.6,19 2.3,19.2 8.3,15 2.3,10.8 9.6,11 7.1,4.1 12.9,8.6 ">
        </polygon>
    </svg>
</div>
<div class="row mx-0">
    <p class="text-center p-2">En Abril comenzó el dictado de la Primera Formación de Coaching Integral y en agosto
        comenzamos con el segundo grupo de Formación.

        De esta manera, nos convertimos en la Primera Escuela de Formación Internacional de Coaching Integral en Río
        Cuarto avalada y certificada por “Vivir Bien y Hacer un Mundo Mejor”. Bendigo profundamente su acompañamiento y
        guía.

        Para mi es una bendición muy grande que un nuevas personas se sumen y confien en mi para emprender un camino de
        transformación y aprendizaje.
    </p>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_1.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_2.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0 d-flex justify-content-center align-items-center">
        <img src="../../../assets/formation_6.jpg" class="w-100 shadow-1-strong rounded"
            alt="Foto capturada en una de las formaciones" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_5.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_3.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_7.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_10.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_9.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_8.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_11.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_12.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>



    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_13.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_17.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_14.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
        <img src="../../../assets/formation_19.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/formation_15.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/formation_18.JPG" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
</div>