<div class="landscape-container landscape-gallery">
    <h1 data-aos="zoom-out" class="text-center">Galería</h1>
    <h2 data-aos="zoom-out" class="subtitle-landscape">Momentos de conocimiento y enseñanza</h2>

</div>

<section class="d-flex justify-content-center align-items-center row mt-5 p-2" data-aos="zoom-in">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 ">
        <img src="../../../assets/gallery/gallery-1.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/gallery/gallery-2.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0 d-flex justify-content-center align-items-center">
        <img src="../../../assets/gallery/gallery-5.jpg" class="w-100 shadow-1-strong rounded"
            alt="Foto capturada en una de las formaciones" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/gallery/gallery-4.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/gallery/gallery-3.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/gallery/gallery-6.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/gallery/gallery-7.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/gallery/gallery-8.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/gallery/gallery-9.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/gallery/gallery-10.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

        <img src="../../../assets/gallery/gallery-11.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>



    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/gallery/gallery-12.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

    </div>
    <div class="col-lg-4 mb-4 mb-lg-0  ">
        <img src="../../../assets/gallery/gallery-14.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />

    </div>
    <div class="col-lg-4 mb-4 p-2 mb-lg-0 ">
        <img src="../../../assets/gallery/gallery-16.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Foto capturada en una de las formaciones" />
    </div>

    
    <div class="col-lg-8 mb-4 d-flex flex-column flex-lg-row">
        <div>
            <img src="../../../assets/gallery/gallery-13.jpg" class="w-100 shadow-1-strong rounded mb-lg-0 mb-5"
            alt="Foto capturada en una de las formaciones" />
        </div>
        <div>
            <img src="../../../assets/gallery/gallery-15.jpg" class="w-100 shadow-1-strong rounded mx-lg-4 mx-0"
            alt="Foto capturada en una de las formaciones" />
        </div>
        
    </div>
</section>