<div id="app-home" class="home-background d-flex flex-column">
    <div class="container h-100 p-5">
        <h1 class="title text-white">Formación de Coaching Integral</h1>
        <a href="/formation" class="brandButton my-3 ">QUIERO SABER MÁS 🤚🏻</a>
    </div>
</div>
<!--Waves Container-->
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28"
    preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
</svg>
<div class="container d-flex justify-content-center align-items-center my-5">
    <img id="avalimg" src="../../../assets/aval.png" alt="Logo de Vivir bien y hacer un mundo mejor">
    <p class="m-0 text-center" id="avaltext"> Avalada y
        Certificada Internacionalmente por "Vivir Bien Y Hacer Un Mundo Mejor" </p>
</div>
<!--Waves end-->
<app-aboutme></app-aboutme>
<app-formation></app-formation>
<app-workshops></app-workshops>
<!-- footer section -->
<footer>
    <div class="container footer-container ">
        <a href="https://www.instagram.com/eleonora.sticoni/" target="_blank"><img class="red"
                src="assets/instagram.png"></a>
        <a href="https://api.whatsapp.com/send/?phone=%2B5493584197258&text&type=phone_number&app_absent=0"
            target="_blank"><img class="red" src="assets/whatsapp.png"></a>
    </div>
</footer>