<div id="app-home" class="home-background">
    <div class="header-title w-75 h-100 p-5 d-flex flex-column">
        <h2 class="text-start w-75">Estás construyendo tu propia realidad en cada instante.
        </h2>
        <h1 class="text-start w-75">
            POSEES UN PODER
            INCREÍBLE.
        </h1>
        <!-- <a href="/formation" class="brandButton my-3 ">QUIERO SABER MÁS 🤚🏻</a>-->
    </div>
</div>
<!--Waves Container-->
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 25 150 28"
    preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
        <use xlink:href="#gentle-wave" x="90" y="0" fill="#68670f" opacity="0.8" />
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#683551" opacity="0.8" />

        <use xlink:href="#gentle-wave" x="48" y="5" fill="#683551"  />
    </g>
</svg>
<div class="container-fluid phrase-container">
    <div class="container d-flex justify-content-center align-items-center flex-lg-row flex-column p-5">
        <h2>El <span>poder</span> que reside en ti es equivalente al <span>poder</span> que da origen al Universo.</h2>
        <div class="container">
            <h2 class="text-center d-flex justify-content-center">ERES <span class="mx-2 tw">
            </span></h2> 
            <div class="d-flex justify-content-center align-items-center p-4">
                <button class="brand-button">DESCUBRE TU PODER</button>
            </div>
            
        </div>
    </div>

</div>

<app-community></app-community>


<!-- <div class="container d-flex justify-content-center align-items-center my-5">
    <img id="avalimg" src="../../../assets/aval.png" alt="Logo de Vivir bien y hacer un mundo mejor">
    <p class="m-0 text-center" id="avaltext"> Avalada y
        Certificada Internacionalmente por "Vivir Bien Y Hacer Un Mundo Mejor" </p>
</div> -->
<!--Waves end-->
<!-- footer section -->
<!-- <footer>
    <div class="container footer-container ">
        <a href="https://www.instagram.com/eleonora.sticoni/" target="_blank"><img class="red"
                src="assets/instagram.png"></a>
        <a href="https://api.whatsapp.com/send/?phone=%2B5493584197258&text&type=phone_number&app_absent=0"
            target="_blank"><img class="red" src="assets/whatsapp.png"></a>
    </div>
</footer>-->