<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<div class="banner-container firstImage">
                <div class="row banner-row">
                    <div class="col-md-7">
                        <div class="container titles">
                            <div class="container center">
                                <h2>EL AMOR ES EXPERIMENTAR <br> A LOS OTROS COMO SON</h2>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 hidden"></div>
                </div>

            </div>
		</div>

	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<div class="banner-container secondImage">
                <div class="row banner-row">
                    <div class="col-md">
                        <div class="container-fluid titlesSecond">
                            <div class="container">
                                <h2>Sesiones 1 a 1</h2>
                                <h2>¿Qué tipo de coaching necesitas?</h2>
                                <h3 (click)="toggleText1()">💞 Coach Ontológico
                                    <i  class="fa fa-chevron-down"></i>
                                </h3>
                                <p *ngIf="text1Visible" class="description">Cuando en nuestra vida se nos presenta
                                    un quiebre y solos no podemos gestionarlo, tenemos la gran oportunidad de darnos
                                    cuenta que observadores somos de la realidad y mediante un proceso de
                                    acompañamiento profesional gestionarlo.</p>
                                <h3 (click)="toggleText2()">💜 Coach Integral
                                    <i class="fa fa-chevron-down"></i>
                                </h3>
                                <p *ngIf="text2Visible" class="description">Mediante esta poderosa herramienta,
                                    podemos vernos, reformular nuestra vida, perdonar, gestionar emociones, evitando
                                    las somatizaciones, elevando la autoestima.</p>
                                <h3 (click)="toggleText3()">💕 Coach Transpersonal
                                    <i class="fa fa-chevron-down"></i>
                                </h3>
                                <p *ngIf="text3Visible" class="description">Vamos a lo más profundo de nuestro SER,
                                    trabajando la genealogia, introspección, permitiéndonos con autoconciencia,
                                    transitar la vida en paz y amor.</p>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-0 hidden"></div>
                </div>

            </div>
		</div>
		
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<div class="banner-container fourthImage">
                <div class="row banner-row">
                    <div class="col-md-12">
                        <div class="container titles">
                            <div class="container">
                                <h2 id="thirdTitle"> ¿Que es la Formación de COACHING INTEGRAL?
                                </h2>
                                <p id="textFourthImage">
                                    Es un proceso de autoconocimiento con Aval y Certificación Internacional Oficial, 
                                    con salida laboral como entrenador/a o coach integral, sesiones 1 a 1.
                                </p>
                            </div>
                            
                            
                        </div>

                    </div>
                        <div class="container-aval ">
                            <p id="paragraph-aval">
                                Avalada y Certificada Internacionalmente por "Vivir Bien y Hacer un Mundo Mejor"
                            </p>
                            <img id="aval" src="assets/aval.png">
                        </div>
                    </div>

            </div>
		</div>
	
	</ng-template>
    <ng-template ngbSlide>
		<div class="picsum-img-wrapper">
            <div class="banner-container thirdImage">
                <div class="row banner-row">
                    <div class="col-md-10">
                        <div class="container titles">
                            <div class="container">
                                <h2 id="thirdTitle" (click)="toggleJuridicText()">  Asesoría Jurídica <i id="hide-text-btn-juridic" class="fa fa-chevron-down"></i>
                                </h2>
                                <div *ngIf="juridicTextVisible" class="container">
                                    <h5 class="description thirdSubtitle">Un servicio del derecho diferente. Acompañamiento Legal Humanizado. 
                                        Todo lo que necesitas con Profesionalismo, ética, respeto, acompasamiento y la trayectoria que me caracteriza.  </h5>
                                </div>
                                    <ul id="temasList">
                                        <li>
                                            Temas Personales
                                        </li>
                                        <li>
                                            Temas Familiares
                                        </li>
                                        <li>
                                            Temas Administrativos
                                        </li>
                                        <li>
                                            Temas Penales
                                        </li>
                                    </ul>
                                    <div class="container container-button">
                                        <button id="juridicButton" onclick="location.href='contacto.html'">
                                            AGENDÁ TU CONSULTA
                                        </button>
                                    </div>
                                    
                                
                            </div>
                        </div>
                            
                    </div>
                    <div class="col-md-2 hidden"></div>
                </div>

            </div>
		</div>

	</ng-template>
</ngb-carousel>

<footer>
    <div class="container footer-container">
        <a href="https://www.instagram.com/eleonora.sticoni/" target="_blank"><img class="red"
                src="assets/instagram.png"></a>
        <a href="https://api.whatsapp.com/send/?phone=%2B5493584197258&text&type=phone_number&app_absent=0" target="_blank"><img class="red" src="assets/whatsapp.png"></a>
    </div>

</footer>