<section id="app-aboutme" class="container about-me">

    <p class="cursive-title" data-aos="fade-right"
    data-aos-easing="ease-in-sine" data-aos-duration="1000">hola</p>
    <article >
    <div data-aos="fade-right"
    data-aos-duration="1000" 
    data-aos-easing="ease-in-sine">
        <h1 class="subtitle-about">soy Eleonora</h1>
        <p class="text">
            Me llamo <b>Eleonora Sticoni</b> y como Coach Omnicomprensivo, tengo el honor de acompañar
            a personas valientes como tú en su viaje de autodescubrimiento hacia el crecimiento
            personal y el desarrollo integral.
        </p>
        <p class="text">
            Para aquellos que están considerando este emocionante proceso, les digo que están a
            punto de dar el primer paso hacia una transformación significativa. Como coach
            omnicomprensivo, mi enfoque abarca todas las áreas de tu vida: desde el desarrollo
            profesional hasta el bienestar emocional, y todo lo que se encuentra en medio. Juntos,
            exploraremos tus fortalezas, identificaremos áreas de mejora y crearemos un plan de
            acción personalizado para que puedas alcanzar tus metas más ambiciosas y vivir una vida
            plena y satisfactoria.
        </p>
        <p class="text">
            Y para aquellos que ya están en el proceso de sesiones de Coaching Omnicomprensivo,
            ¡felicidades por su valentía y compromiso con su propio crecimiento! Sé que el camino
            puede ser desafiante en ocasiones, pero recuerden que cada pequeño paso que dan es
            un paso hacia adelante en su camino hacia una vida más auténtica y significativa. Estoy
            aquí para apoyarles en cada paso del camino, brindándoles la orientación, el apoyo y el
            estímulo que necesitan para alcanzar sus metas y superar cualquier obstáculo que se
            interponga en su camino.
        </p>
        <p class="text">
            Así que, ya sea que estés considerando comenzar tu desafío de Coaching
            Omnicomprensivo o que ya estés en el camino, quiero que sepas que estás en el lugar
            correcto y que estás rodeado de apoyo y de un equipo comprometido con tu éxito y tu
            bienestar. ¡Estoy emocionada de ser parte de tu viaje y de ver todo lo que juntos podemos
            lograr!
        </p>
        <p class="text">
            ¡Vamos a lograr grandes cosas juntos!
        </p>
    </div>
        

        <div class="row">
            <div class="col-md-6">
                <img data-aos="zoom-in-right" class="page-img w-100" src="../../../assets/about-me/about-me_1.jpg"/>
            </div>
            <div class="col-md-6">
                <img data-aos="zoom-in-left" class="page-img w-100" src="../../../assets/about-me/about-me_3.jpg"/>

            </div>
        </div>
    </article>

    <div class="divisor my-3">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 30 30" xml:space="preserve">
            <polygon
                points="15,1.5 17.1,8.6 22.9,4.1 20.4,11 27.7,10.8 21.7,15 27.7,19.2 20.4,19 22.8,25.9 17.1,21.4 15,28.5 12.9,21.4 7.1,25.9 9.6,19 2.3,19.2 8.3,15 2.3,10.8 9.6,11 7.1,4.1 12.9,8.6 ">
            </polygon>
        </svg>
    </div>

    <p class="cursive-title"  data-aos-duration="1000" data-aos="fade-right">mision</p>


    <article class="row">
        <div  data-aos-duration="1000" data-aos="fade-right" class="col-md-7 d-flex flex-column justify-content-center">
            <p class="text">
                Mi <b>misión</b> es guiarte en un viaje hacia la autorreflexión, el
                empoderamiento y el desarrollo personal. Como coach, terapeuta
                holístico, formadora, psicóloga social y abogada, fusiono mis
                conocimientos para proporcionarte un enfoque único y transformador.
            </p>
            <p class="text">
                Estoy comprometida a acompañarte en el descubrimiento de tu
                verdadero potencial, ayudándote a superar obstáculos, cultivar la
                autoestima y encontrar equilibrio en todas las áreas de tu vida. Mi
                especialización en psicología social me permite comprender las dinámicas
                interpersonales, brindándote orientación para fortalecer relaciones
                significativas.
            </p>
            <p class="text">
                A través de formaciones que integran diversas disciplinas, te proporciono
                herramientas prácticas para potenciar tu crecimiento personal y
                profesional. Mi formación legal me permite abordar situaciones complejas
                con un enfoque integral y compasivo, ofreciéndote asesoramiento jurídico
                que considera tu bienestar como prioridad.
            </p>
            <p class="text">
                Mi misión es inspirarte a transformar desafíos en oportunidades y
                facilitarte el camino hacia tu máximo potencial en cada aspecto de tu vida.
                Te invito a unirte a mí en este viaje hacia una vida plena, donde la
                autoexploración y el bienestar son fundamentales.
            </p>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img class="page-img w-75" data-aos="fade-left" alt="Eleonora sonriendo en un parque" src="../../../assets/mision.jpg" />
        </div>

    </article>

    <div class="divisor my-3">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 30 30" xml:space="preserve">
            <polygon
                points="15,1.5 17.1,8.6 22.9,4.1 20.4,11 27.7,10.8 21.7,15 27.7,19.2 20.4,19 22.8,25.9 17.1,21.4 15,28.5 12.9,21.4 7.1,25.9 9.6,19 2.3,19.2 8.3,15 2.3,10.8 9.6,11 7.1,4.1 12.9,8.6 ">
            </polygon>
        </svg>
    </div>

    <p class="cursive-title"  data-aos="fade-right">vision</p>

    

    <article class="row mb-5">
        <div  data-aos="fade-right" data-aos-offset="0" class="col-md-7 d-flex flex-column justify-content-center">
            <p class="text">
                Mi <b>visión</b> es ser la guía esencial para aquellos que buscan un
                camino hacia una vida plena y significativa. Como coach,
                terapeuta holística, formadora, psicóloga social y abogada,
                aspiro a ser la fuente de inspiración que te impulse a descubrir
                tu auténtico potencial.
            </p>
            <p class="text">
                Visualizo un mundo donde cada individuo se siente capacitado
                para superar desafíos, cultivar relaciones significativas y
                encontrar equilibrio en todas las áreas de su vida. Mi enfoque
                integral, fusionando diversas disciplinas, tiene como objetivo
                proporcionarte las herramientas prácticas necesarias para un
                crecimiento personal y profesional sostenible.
            </p>
            <p class="text">
                Como defensora de la autorreflexión y el bienestar, mi visión es
                facilitar un espacio donde la autoexploración se convierta en un
                catalizador para la transformación positiva. A través de
                formaciones y orientación, busco empoderarte para que
                alcances tu máximo potencial en cada aspecto de tu vida.
            </p>
            <p class="text">
                Imagino un mundo donde la armonía interior y la resiliencia son
                fundamentales, y donde cada persona puede convertir los
                desafíos en oportunidades para el crecimiento. Únete a mí en
                esta visión de un viaje hacia una vida plena y enriquecedora.
            </p>
        </div>

        <div class="col-md-5 d-flex flex-column justify-content-center align-items-center">
            <img class="page-img w-75" data-aos="fade-left" data-aos-offset="0"  alt="Eleonora sentada en un parque" src="../../../assets/vision.jpg" />
        </div>


    </article>

</section>