<div class="divisor">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 30 30" xml:space="preserve">
        <polygon
            points="15,1.5 17.1,8.6 22.9,4.1 20.4,11 27.7,10.8 21.7,15 27.7,19.2 20.4,19 22.8,25.9 17.1,21.4 15,28.5 12.9,21.4 7.1,25.9 9.6,19 2.3,19.2 8.3,15 2.3,10.8 9.6,11 7.1,4.1 12.9,8.6 ">
        </polygon>
    </svg>
</div>
<section id="app-aboutme" class="container about-me my-5">
    <h1 class="title my-5">¿QUIÉN SOY?</h1>
    <img src="../../../assets/aboutme.jpg" alt="Eleonora Sticoni">
    <p class="text">
        ¡Hola! Soy <b>Eleonora Sticoni</b>, y me considero una facilitadora, guía y profesional en constante
        aprendizaje,
        búsqueda de la expansión personal y el bienestar integral. Mis experiencias, estudios, Maestrias en Psicología
        Social, Diplomaturas, Especializaciones en Derecho, Maestrías en Coaching Integral, Ontológico, de Equipos,
        Vocacional y diversas disciplinas holísticas, han moldeado mi camino hacia un entendimiento más profundo de la
        consciencia. Siendo Mindfulness, Deeksha, cómo las introspecciones de Oneness University mis herramientas
        diarias.
    </p>
    <p class="text">
        A lo largo de más de una década, he acompañado a muchas personas en su viaje de autodescubrimiento y
        crecimiento. Mi enfoque integral se refleja en las sesiones de coaching personalizadas, donde proporciono las
        herramientas necesarias para promover el bienestar de mis consultantes.
    </p>
    <p class="text">
        Además, imparto talleres y encuentros en los que colaboro con cada participante, guiándolos a través de sus
        inquietudes y vivencias hacia la restauración de la paz interior. En el taller de Sanación de Útero, exploramos
        las memorias uterinas para sanar heridas profundas, mientras que en el taller de Constelaciones Familiares
        reconectamos con nuestro ser y linaje para liberarnos de problemas pasados y abrazar la vida desde el respeto,
        el amor y la gratitud.
    </p>
    <p class="text">
        También ofrezco la Formación de Coaching Integral, una propuesta destinada a aquellos que desean iniciar su
        viaje de aprendizaje y crecimiento personal y profesional. El Coaching Integral, una herramienta poderosa de
        autoconocimiento, tiene como objetivo ayudar a las personas a alcanzar su máximo potencial.
    </p>
    <p class="text">
        Cada momento que comparto con mis consultantes está impregnado de amor, respeto y una profunda admiración por la
        vida y la divinidad. Ser auténtica y fiel a mí misma es mi compromiso al 100%. Agradezco sinceramente que hayas
        elegido contar con mi acompañamiento. Estoy aquí para ti.
    </p>
</section>