<section class="container about-me my-5">
    <h1 class="title pt-5">¿QUIÉN SOY?</h1>
    <div class="divisor my-5">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 30 30" xml:space="preserve">
            <polygon
                points="15,1.5 17.1,8.6 22.9,4.1 20.4,11 27.7,10.8 21.7,15 27.7,19.2 20.4,19 22.8,25.9 17.1,21.4 15,28.5 12.9,21.4 7.1,25.9 9.6,19 2.3,19.2 8.3,15 2.3,10.8 9.6,11 7.1,4.1 12.9,8.6 ">
            </polygon>
        </svg>
    </div>
    <img src="../../../assets/aboutme.jpg" alt="Eleonora Sticoni">
    <p class="text">
        Hola, soy <b>Eleonora Sticoni</b>, formadora, tallerista, Magíster en Psicología social y abogada, me recibí en
        la Universidad Nacional de Córdoba. A lo largo de mi vida, he transitado por diversos caminos que me llevaron a
        profundizar en el desarrollo de mi consciencia y, posteriormente, a acompañar en sus procesos evolutivos a todas
        aquellas personas que lo deseen.
    </p>
    <p class="text">
        Soy Coach Ontológica U.N.C y Coach Integral. Formación realizada en la escuela Vivir Bien y Hacer un Mundo
        Mejor, también realicé una especialización en Coaching de Equipos, en Life Coaching, Coaching Vocacional, Lic.
        En Tanatología y un Mindfulness. Además, me formé como Psicóloga Social y estudié en O&O Academy de India. Esta
        última experiencia fue una de las más gratificantes y enriquecedoras de toda mi vida. También me especialicé en
        diversas Terapias Holísticas como Maestrías en Reiki Usui, Karuna, Vortex Aura Healing, Prosperity Workshop,
        Registros Akáshicos, Sakh Majat, entre otras.
    </p>
    <p class="text">
        Desde hace más de diez años acompaño los procesos de crecimiento y expansión personal de muchas personas que
        desean explorar su ser y divinidad desde un enfoque integral de la consciencia. A través de las sesiones de
        coaching 1:1, transitamos un camino donde ofrezco a mis consultantes todas las herramientas necesarias para su
        mejor bienestar.
    </p>
    <p class="text">
        También, desarrollo talleres y encuentros donde guio y trabajo conjuntamente con cada uno de lxs participantes
        sobre la base de sus inquietudes, vivencias y siempre en pos del restablecimiento de la paz interior. En el
        taller de Sanación de Útero, exploramos las vivencias guardadas en nuestra memoria uterina para curar y
        transformar las heridas más profundas; en el taller de Constelaciones Familiares reconectamos con nuestro ser,
        en profunda conexión con el yo y nuestro linaje, para dejar atrás aquellos problemas y aceptarlos plenamente,
        para luego soltarlos y así abrirnos a la vida desde el respeto, la amorosidad y el agradecimiento.
    </p>
    <p class="text">
        Además, brindo la Formación de Coaching Integral, una propuesta dirigida a todos aquellos que deseen comenzar
        con su proceso de aprendizaje y crecimiento. El Coaching Integral es una herramienta de autoconocimiento, de
        desarrollo personal y profesional que tiene como objetivo ayudar a las personas a alcanzar su máximo potencial.
    </p>
    <p class="text">
        Habito cada uno de esos momentos con amor, respeto y admiración profunda hacia la vida y la divinidad. Siendo
        fiel a mí misma, siendo Eleonora al 100%. Gracias por elegirme. Estoy para acompañarte.
    </p>
</section>