<section class="container">
    <h1 class="title pt-5 mb-5">FORMACIÓN DE COACHING INTEGRAL</h1>
    <p class="text">
        ¿Cómo te sentirías si te ofreciera mi experiencia y habilidades en coaching para ayudarte a alcanzar tus
        metas? Por ésta razón, te invito a embarcarte en un emocionante viaje de autodescubrimiento y crecimiento
        personal integral. En este programa, exploraremos todas las dimensiones de tu ser: mente, cuerpo, emociones y
        espíritu, con un enfoque holístico que te permitirá alcanzar una vida plena y en armonía.
    </p>
    <h2 class="subtitle">¿Qué aprenderé?</h2>
    <p class="text">
        Aprenderemos juntos a potenciar tus habilidades y alcanzar tus metas mediante técnicas y herramientas de
        Coaching Integral. Además, te sumergirás en una experiencia transformadora que te conectará con tu ser más
        profundo, permitiéndote descubrir tu máximo potencial y cultivar el autoconocimiento.
        
    </p>
    <p class="text">
        Durante el proceso, desarrollarás habilidades de escucha activa y empatía, lo que te permitirá establecer
        conexiones genuinas con los demás. Estas habilidades te ayudarán a guiar a otros en su desarrollo personal y
        profesional, brindándoles un acompañamiento efectivo y significativo en su camino hacia el éxito.
    </p>

    <h2 class="subtitle">Inicio de clases</h2>
    <p class="text">
        El dictado de las clases comienzan en AGOSTO a través de la modalidad presencial en la ciudad de Río Cuarto,
        Córdoba, Argentina. Se realizarán en Friducha Multiespacio, ubicado en la calle 25 de Mayo 145.<b> Es una
            Formación
            Avalada y Certificada Internacionalmente por la escuela de formaciones "Vivir Bien Y Hacer Un Mundo
            Mejor”.</b>
    </p>
    <h2 class="subtitle">Contenido</h2>
    <ul>
        <li class="my-2">Es un entrenamiento con salida laboral inmediata. </li>
        <li class="my-2">También podrás lograr un gran proceso de autoconocimiento y autodescubrimiento con la
            exploración de tus propias capacidades y virtudes.</li>
        <li class="my-2">Incluye clases de tutorías y material de estudio.</li>
        <li class="my-2">Acceso a una Plataforma educativa actualizada y sin límite de tiempo.</li>
        <li class="my-2">Herramientas prácticas para cada módulo, con recursos propios.</li>
        <li class="my-2"> Los talleres presenciales tendrán una duración de aproximadamente 4 horas. Los encuentros
            serán una vez al
            mes.
        </li>
        <li class="my-2">Seguimiento Personalizado del Estudiante durante el proceso de cursado.
        </li>
        <li class="my-2">Es una capacitación donde vas a aprender a dar sesiones individuales, con valiosas y efectivas
            herramientas para ayudar y guiar a personas en su desarrollo personal y restablecimiento de la paz interior.
        </li>
        <li class="my-2">Las clases presenciales tendrán una duración de aproximadamente 4 horas. Los encuentros serán
            una vez al mes.</li>
    </ul>
    <p class="text">
        ¡Únete a esta Formación de Coaching Integral y descubre cómo alcanzar un equilibrio y bienestar en todas las
        áreas de tu vida! Estoy emocionado/a de compartir contigo esta experiencia única de crecimiento y aprendizaje.
        ¡Te espero con los brazos abiertos para comenzar este viaje transformador juntos/as!

    </p>
    <div class="container d-flex justify-content-center my-5">
        <a class="brandButton"
            href="https://api.whatsapp.com/send/?phone=%2B5493584197258&text&type=phone_number&app_absent=0"
            target="_blank"
            hreflang="https://api.whatsapp.com/send/?phone=%2B5493584197258&text&type=phone_number&app_absent=0">¡QUIERO
            INSCRIBIRME! 👉🏻</a>
    </div>
</section>

<div class="row p-2 my-5 mx-0">
    <p class="text-center">En Abril comenzó el dictado de la primera Formación de Coaching Integral. Este grupo se
        convirtió en la Primera
        Escuela de Formación Internacional de Coaching Integral, avalada y certificada por “Vivir Bien y Hacer un Mundo
        Mejor”.
    </p>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="../../../assets/formation_1.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="../../../assets/formation_2.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0 d-flex justify-content-center align-items-center">
        <img src="../../../assets/formation_7.jpg" class="w-100 shadow-1-strong rounded"
            alt="Mountains in the Clouds" />

    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="../../../assets/formation_5.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

        <img src="../../../assets/formation_3.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Yosemite National Park" />
    </div>
</div>