<section class="container">
    <h1 class="title pt-5">FORMACIÓN DE COACHING INTEGRAL</h1>
    <h3 class="subtitle">¿Qué te propongo?</h3>
    <p class="text">
        Vengo a ofrecerte esta propuesta para acompañarte en tu proceso de aprendizaje y autoconocimiento.

        Si perteneces al grupo de jóvenes y/o adultos mayores y deseas emprender un nuevo camino de transformación
        personal.

        Si sos Terapeuta Holística y sentís la necesidad de brindar un servicio colmado de sugerencias, escucha y
        colaborar en los procesos de otras personas… ESTA FORMACIÓN ES PARA VOS.
    </p>
    <h3 class="subtitle">
        ¿Qué es el Coaching Integral?
    </h3>
    <p class="text">
        El Coaching Integral es una herramienta de autoconocimiento, de desarrollo personal y profesional que tiene como
        objetivo ayudar a las personas a alcanzar su máximo potencial. Es una metodología de desarrollo personal y
        profesional que apunta a ayudar a las personas al desarrollo personal y emocional.
    </p>

    <p class="text">
        Mediante esta poderosa herramienta, podemos vernos, reformular nuestra vida, perdonar, gestionar emociones,
        evitando las somatizaciones, elevando la autoestima. El Coaching Integral te ayudará a desarrollar tus
        capacidades emocionales. Encontrando el enfoque adecuado en cada situación.
    </p>
    <h2 class="subtitle">¿Qué aprenderé?</h2>
    <p class="text">
        En esta Formación vas a aprender a brindar consultas individuales y además, ser tu propia guía en tu proceso de
        autotransformación.
        Podrás acceder a herramientas que te permitirán alcanzar tus objetivos, tener una vida más plena y elevada en
        amor y sabiduría.
    </p>
    <h2 class="subtitle">Inicio de clases</h2>
    <p class="text">
        El dictado de las clases comienzan en AGOSTO a través de la modalidad presencial en la ciudad de Río Cuarto,
        Córdoba, Argentina. Las clases se realizan en Friducha Multiespacio, ubicado en la calle 25 de Mayo 145.

        <b>Es una Formación Avalada y Certificada Internacionalmente por la escuela "Vivir Bien Y Hacer Un Mundo Mejor”
        </b> y
        tiene salida laboral inmediata. Con esta Formación podrás lograr un gran proceso de autoconocimiento y
        autodescubrimiento con la exploración de tus propias capacidades y virtudes.
    </p>
    <h2 class="subtitle">Contenido</h2>
    <p class="text">
        Además, incluye:

    </p>
    <ul>
        <li class="my-2">Clases de tutorías y material de estudio.</li>
        <li class="my-2">Acceso a una Plataforma educativa actualizada y sin límite de tiempo.</li>
        <li class="my-2">Herramientas prácticas para cada módulo, con recursos propios.</li>
        <li class="my-2">Seguimiento Personalizado del Estudiante durante el proceso de cursado.</li>
        <li class="my-2">Es una capacitación donde vas a aprender a dar sesiones individuales, con valiosas y efectivas herramientas
            para ayudar y guiar a personas en su desarrollo personal y restablecimiento de la paz interior.</li>
        <li class="my-2"> Los talleres presenciales tendrán una duración de aproximadamente 4 horas. Los encuentros serán una vez al
            mes.
        </li>
    </ul>
    <p class="text">
        Esta es una oportunidad única para vos. A través de esta Formación de Coaching Integral vas a poder ayudarte a
        vos mismx y este es el primer paso para ayudar a otras personas, y aprender a reconocer los propios procesos de
        la vida. Procesos a través de los cuales podremos modificar y cambiar nuestras perspectivas y así avanzar hacia
        lo que se quiere y se necesita. Es el propio crecimiento y desarrollo el que nos muestra los recursos que
        tenemos y lo que podemos necesitar para abordar las situaciones y las soluciones que podemos necesitar.
    </p>
    <div class="container d-flex justify-content-center">
        <a class="brandButton"
            href="https://api.whatsapp.com/send/?phone=%2B5493584197258&text&type=phone_number&app_absent=0"
            target="_blank"
            hreflang="https://api.whatsapp.com/send/?phone=%2B5493584197258&text&type=phone_number&app_absent=0">¡QUIERO
            INSCRIBIRME! 👉🏻</a>
    </div>
</section>

<div class="row p-2 my-5 mx-0">
    <p class="text-center">En Abril comenzó el dictado de la primera Formación de Coaching Integral. Este grupo se convirtió en la Primera
        Escuela de Formación Internacional de Coaching Integral, avalada y certificada por “Vivir Bien y Hacer un Mundo
        Mejor”.
    </p>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="../../../assets/formation_1.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="../../../assets/formation_2.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0 d-flex justify-content-center align-items-center">
        <img src="../../../assets/formation_7.jpg" class="w-100 shadow-1-strong rounded"
            alt="Mountains in the Clouds" />

    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="../../../assets/formation_5.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

        <img src="../../../assets/formation_3.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Yosemite National Park" />
    </div>
</div>