<div class="landscape-container landscape-formation">
    <h1 data-aos="zoom-out" class="text-center">Formaciones y Talleres</h1>
    <h2 data-aos="zoom-out" class="subtitle-landscape">Empodérate y desarrolla tus habilidades</h2>

</div>

<section class="formation-container container">
    <div class="container mt-5">
        <p data-aos="fade-right" class="text">
            Ofrezco capacitaciones y talleres que fusionan conocimientos de diversas
            disciplinas. Estos programas te brindarán <b>herramientas</b> concretas para
            impulsar tu desarrollo tanto personal como profesional. Desde mejorar tus
            habilidades sociales hasta manejar el estrés, cada sesión está diseñada para
            <b>fortalecerte</b> y <b>guiarte</b> hacia la realización de tu máximo potencial.
        </p>
        <div data-aos="zoom-in" class="row my-4">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img class="page-img w-75" src="../../../assets/form-1.jpg" alt="">
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img class="page-img w-75" src="../../../assets/form-2.jpg" alt="">
            </div>

        </div>

        <div data-aos="zoom-out"  class="container d-flex justify-content-center my-5">
            <button class="brand-button">QUIERO CONSULTAR LA AGENDA</button>
        </div>
    </div>

    <div class="divisor my-3">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 30 30" xml:space="preserve">
            <polygon
                points="15,1.5 17.1,8.6 22.9,4.1 20.4,11 27.7,10.8 21.7,15 27.7,19.2 20.4,19 22.8,25.9 17.1,21.4 15,28.5 12.9,21.4 7.1,25.9 9.6,19 2.3,19.2 8.3,15 2.3,10.8 9.6,11 7.1,4.1 12.9,8.6 ">
            </polygon>
        </svg>
    </div>

    <div class="container">
        <div data-aos="fade-left">
            <h1 class="title text-center pt-5 mb-3">Sesiones Individuales</h1>
            <h2 class="cursive-title text-center my-2">Explorá tu Potencial</h2>

        </div>
        <div data-aos="fade-left">
            <p class="text mt-4">
                En mis sesiones individuales, te guiaré en el camino de autoconocimiento y
                desarrollo personal. Mi objetivo es ayudarte a <b>superar</b> obstáculos,
                fortalecer tu <b>autoestima</b> y encontrar <b>armonía</b> en todas las áreas de tu vida.
                Trabajaremos <b>juntos</b> para descubrir nuevas perspectivas y crear estrategias
                a medida que te acerquen a tus objetivos.
            </p>

            <h2 class="title text-center ">¡desde la comodidad de tu hogar!</h2>
            <h2 class="cursive-title text-center py-3">Sesiones virtuales</h2>
        </div>



        <div class="container row my-4">
            <div class="col-md-6 d-flex justify-content-center">
                <img data-aos="zoom-in-right" class="w-75 page-img" src="../../../assets/sessions-2.jpg" />
            </div>

            <div class="col-md-6 d-flex justify-content-center">
                <img data-aos="zoom-in-left" class="w-75 page-img" src="../../../assets/sessions-1.jpg" alt="">
            </div>
        </div>


    </div>


    <div class="divisor my-3">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 30 30" xml:space="preserve">
            <polygon
                points="15,1.5 17.1,8.6 22.9,4.1 20.4,11 27.7,10.8 21.7,15 27.7,19.2 20.4,19 22.8,25.9 17.1,21.4 15,28.5 12.9,21.4 7.1,25.9 9.6,19 2.3,19.2 8.3,15 2.3,10.8 9.6,11 7.1,4.1 12.9,8.6 ">
            </polygon>
        </svg>
    </div>




    <div class="container mt-5">
        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <h1 class="title text-center">Meditaciones y Mindfulness</h1>
            <p class="text">
                Descubre la <b>tranquilidad interior</b> a través de la meditación y el
                mindfulness.
                Te ofrezco sesiones guiadas que te permitirán sumergirte en un
                estado de <b>serenidad</b> y <b>conciencia plena</b>. Aprende a cultivar la
                <b>resiliencia</b> y a encontrar la paz interior en medio de las exigencias
                cotidianas.
            </p>
        </div>

        <div class="row my-5">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img data-aos="zoom-in-right"  class="page-img w-75" src="../../../assets/form-3.jpg" alt="">
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img data-aos="zoom-in-left"  class="page-img w-75" src="../../../assets/form-4.jpg" alt="">
            </div>

        </div>
    </div>


</section>