<section class="container mb-5">
    <div class="divisor my-3">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 30 30" xml:space="preserve">
            <polygon
                points="15,1.5 17.1,8.6 22.9,4.1 20.4,11 27.7,10.8 21.7,15 27.7,19.2 20.4,19 22.8,25.9 17.1,21.4 15,28.5 12.9,21.4 7.1,25.9 9.6,19 2.3,19.2 8.3,15 2.3,10.8 9.6,11 7.1,4.1 12.9,8.6 ">
            </polygon>
        </svg>
    </div>
    <div id="testimonials" class="d-flex">
        <div data-aos="zoom-in-right" class="d-flex flex-column justify-content-center p-5">
            <p class="vertical-marker">TESTIMONIOS</p>
            <h3>Ellos ya se dieron el regalo  de experimentar el poder de ser</h3>
            <h1 class="title">Energía</h1>
            <h2 class="cursive-title">Divina</h2>
            <button (click)="goToRoute('/formation')" class="brand-button mt-5">
                INSPÍRATE
            </button>
    
        </div>
        <app-carousel data-aos="zoom-in-left"></app-carousel>
    </div>


</section>
