@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');


@font-face {
    font-family: 'Cherolina';
    src: url('./assets/fonts/Cherolina.ttf') format('truetype');
}

:root {
    --primary-color: #683551;
    --secondary-color: #68670f;
    --light-color: #e6cbfa;
    --tertiary-color: #f6e1c8;
    --fourth-color: #da601b;
    --primary-font: "Capriola", sans-serif;
    --secondary-font: "Cherolina", sans-serif;
    --title-size: 3em;
    --subtitle-size: 3em;
    --text-size: 0.9em;
}

/*  start general styles */

html,
body {
    overflow-x: hidden;
    position: relative;
}

* {
    font-family: var(--primary-font);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(228, 228, 228, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.title {
    font-size: var(--title-size);
    font-weight: 500;
    color: var(--primary-color);
}

.subtitle {
    color: var(--primary-color);
    font-size: var(--subtitle-size);
    text-align: center;
    padding: 0.5em 0;
}

.text {
    font-size: var(--text-size);
    text-indent: 2%;
    text-align: justify;
    margin-bottom: 1em;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
}


ul {
    list-style: none;
    font-size: var(--text-size);
    font-weight: bold;
}

ul li::before {
    content: "► ";
    color: var(--primary-color);
}

.cursive-title {
    font-family: var(--secondary-font);
    font-size: 11em;
    font-style: italic;
    margin-bottom: -0.4em;
    margin-top: -0.3em;
    color: var(--secondary-color);
}

.brand-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 2em;
    color: #fff;
    padding: 0.5em 5em;
    box-shadow: 5px 5px 10px 5px #00000050;
    transition: 0.3s;
}

.brand-button:hover{
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 0.9;
}

.divisor {
    font-size: 2px;
    display: flex;
    align-items: center;
}

.divisor svg {
    width: 10em;
    opacity: 0.8;
}

.divisor::before,
.divisor::after {
    flex: 1;
    content: '';
    padding: 0.3px;
    background-color: rgb(133, 133, 133);
    margin: 5em;
}

/* end general styles*/

/* start navbar */

nav {
    box-shadow: 1px 5px 60px rgba(0, 0, 0, 0.200);
    background-color: var(--primary-color) !important;
}

.nav-link {
    font-family: var(--primary-font);
    color: rgba(255, 255, 255, 0.945) !important;
    font-size: 1em !important;
    transition: 0.3s !important;
    padding: 0.5em !important;
}

.nav-link:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
    opacity: 0.7;
}

#logo {
    height: 80px;
    margin: 0;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
}

/* start home */

.header-title h2 {
    color: #fff;
    font-size: 2em;
}

.header-title h1 {
    color: #fff;
    font-weight: 800;
    font-size: 3em;
}

.home-background {
    background-size: cover;
    background-attachment: fixed;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.082)), url(assets/landscape_background.jpg);
    background-position-y: 100%;
    background-position-x: 150px;
}

.home-background div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aval-container {
    margin-bottom: 5em;
}

#avalimg {
    height: 30px;
}

#avaltext {
    font-size: 0.7em;
    width: 20%;
}

.phrase-container {
    background-color: #fff;
    margin-top: 2em;
    color: var(--primary-color)
}

.phrase-container span{
    color: var(--fourth-color);
}


/* ends home*/

/* start formation */

/* ends formation */
/* start workshops */



/* ends workshops */

/* start community */

.community-title{
    margin-bottom: -1.5em;
}

/* ends community */

/* starts about me */

.subtitle-about {
    font-size: 4em;
}

.about-me img {
    border-radius: 2em;
    height: 100%;
    max-height: 500px;
    transition: 0.3s;
}

.about-me img:hover{
    transition: 0.3s !important;
    transform: scale(0.9) !important;
}

/* ends about me */
/* starts contact  */

.contact-container {
    background-image: url(assets/trama.png);
    height: 100vh;
    display: flex;
    align-items: center;
}

.contact_form {
    margin: auto;
    background-color: #fffffff1;
    border-radius: 20px;
    box-shadow: 1px 5px 60px rgba(0, 0, 0, 0.507);
}

.formulario {
    padding: 2em;
}

.formulario input:focus {
    outline: 0;
    border: 1px solid var(--primary-color);
}

.form-title {
    font-size: 20px;
    text-align: center;
}

.form-subtitle {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}

.contact_form input {
    background-color: #fbfbfb;
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color);
    padding-left: 10px;
    margin-bottom: 10px;
}

#select-subject {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--primary-color);
    text-align: center;
    margin-bottom: 10px;
}

.contact_form textarea {
    width: 100%;
    border-radius: 5px;
    border-color: var(--primary-color);
    padding: 5px 10px;
}

#form-button {
    height: 45px;
    padding: 0px 5px;
    margin-bottom: 5px;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    color: #fff;
}

.formulario textarea:focus,
.formulario input:focus {
    outline: 0;
    border: 2px solid var(--primary-color);
}

/* ends contact */

/* start footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px 10px rgba(114, 114, 114, 0.13);
}

.footer-row {
    width: 100%;
    height: 100%;
}

.footer-row div {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    height: 40px;
    margin: 1em;
    transition: 0.4s;
}

.red:hover {
    transition: 0.4s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.10);
    cursor: pointer;
}

.footer-container {
    text-align: center;
    height: 100%;

}

/* Responsive */

/* Portatil */
@media screen and (max-height: 900px) {

    .brandButton {
        font-size: 1em;
    }

}

@media screen and (max-width: 800px) {
    .home-background {
        background-position: 45%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.404)), url(assets/vertical.JPG);
        background-attachment: local;
    }

    .home-background .container {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {

    .cursive-title{
        font-size: 6em;
    }

    .about-me img {
        float: none;
        width: 100%;
        margin: 0;
        padding: 1em;
        border-radius: 2em;
    }

    #avaltext {
        font-size: 0.6em;
        width: 100%;
    }

    .brandButton {
        transform: scale(0.9);
    }

    .title {
        font-size: 1.8em;
    }

    .subtitle {
        font-size: 1.7em;
    }

    .small-text {
        font-size: 0.7em;
    }

    .form-title {
        font-size: 20px;
    }

    .form-subtitle {
        font-size: 16px;
    }

    .wsp-button {
        padding: 16px;
    }

    .nav-link {
        font-size: 1em;
    }

    .navbar-nav a {
        font-size: 1em !important;
        text-align: center;
    }
}

@media screen and (max-width: 300px) {

    .wsp-button {
        font-size: 14px;
        padding: 14px;
    }

    .wsp-button img {
        width: 15px;
    }

    #logo {
        width: 140px;
    }

}