@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');


@font-face {
    font-family: 'Cherolina';
    src: url('./assets/fonts/Cherolina.ttf') format('truetype');
}

:root {
    --primary-color: #683551;
    --secondary-color: #68670f;
    --light-color: #e6cbfa;
    --tertiary-color: #f6e1c8;
    --fourth-color: #da601b;
    --primary-font: "Capriola", sans-serif;
    --secondary-font: "Cherolina", sans-serif;
    --title-size: 3em;
    --subtitle-size: 3em;
    --text-size: 0.9em;
}

/*  start general styles */

html,
body {
    overflow-x: hidden;
    position: relative;
}

* {
    font-family: var(--primary-font);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(228, 228, 228, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.title {
    font-size: var(--title-size);
    font-weight: 500;
    color: var(--primary-color);
}

.subtitle {
    color: var(--primary-color);
    font-size: var(--subtitle-size);
    text-align: center;
    padding: 0.5em 0;
}

.text {
    font-size: var(--text-size);
    text-indent: 2%;
    text-align: justify;
    margin-bottom: 1em;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    color: black;
}


ul {
    list-style: none;
    font-size: var(--text-size);
    font-weight: bold;
}

ul li::before {
    content: "► ";
    color: var(--primary-color);
}

.cursive-title {
    font-family: var(--secondary-font);
    font-size: 11em;
    font-style: italic;
    margin-bottom: -0.4em;
    margin-top: -0.3em;
    color: var(--secondary-color);
}

.brand-button {
    font-family: var(--primary-font) !important;
    background-color: var(--primary-color);
    border: none;
    border-radius: 2em;
    color: #fff;
    padding: 0.5em 5em;
    box-shadow: 5px 5px 10px 5px #00000036;
    transition: 0.3s;
}

.brand-button:hover{
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 0.9;
}

.divisor {
    font-size: 2px;
    display: flex;
    align-items: center;
}

.divisor svg {
    width: 10em;
    opacity: 0.8;
}

.divisor::before,
.divisor::after {
    flex: 1;
    content: '';
    padding: 0.3px;
    background-color: rgb(133, 133, 133);
    margin: 5em;
}

.modal-body p, .modal-title,  button {
    font-family: Helvetica, sans-serif !important;
    color: black;
}

.page-img {
    border-radius: 1em !important;
    transition: 0.3s !important;
}

.page-img:hover{
    transition: 0.3s !important;
    transform: scale(0.95) !important;
}

/* end general styles*/

/* start navbar */

nav {
    box-shadow: 1px 5px 60px rgba(0, 0, 0, 0.200);
    background-color: var(--primary-color) !important;
}

.nav-link {
    font-family: var(--primary-font);
    color: rgba(255, 255, 255, 0.945) !important;
    font-size: 0.9em !important;
    transition: 0.3s !important;
    padding: 0.5em !important;
}

.nav-link:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
    opacity: 0.7;
}

#logo {
    height: 80px;
    margin: 0;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
}

/* starts home */

.header-title h2 {
    color: #fff;
    font-size: 2em;
}

.header-title h1 {
    color: #fff;
    font-weight: 800;
    font-size: 3em;
}

.home-background {
    background-size: cover;
    background-attachment: fixed;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.082)), url(assets/landscape_background.jpg);
    background-position-y: 100%;
}

.home-background div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aval-container {
    margin-bottom: 5em;
}

#avalimg {
    height: 30px;
}

#avaltext {
    font-size: 0.7em;
    width: 20%;
}

.phrase-container {
    background-color: var(--primary-color);
    margin-top: 2em;
    color: #f1f1f1;
    margin-top: -0.1em;
}

.phrase-container span{
    color: var(--light-color) !important;
}

.phrase-container button {
    color: var(--primary-color);
    background-color: var(--light-color);
}

/* ends home*/


/* start sessions*/



/* end sessions*/

/* start formation and workshops*/

.landscape-formation {
    background-image:  linear-gradient( rgba(104, 53, 81, 0),rgba(104, 53, 81, 0.781)), url(assets/landscape.jpg);
    height: 50vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 60%;
}

.landscape-formation h1{
    font-size: 4em;
    color:white;
}

.landscape-formation .subtitle-landscape{
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 1em;
}

.formation-container .cursive-title{
    font-size: 6em;
}

.formation-container p {
    font-size: 1.2em;
    font-family: Helvetica, sans-serif;
    color: black;
}


/* ends formation and workshops*/

/* starts community */

.community-title{
    margin-bottom: -1.5em;
}

.secondary-color{
    color: var(--secondary-color) !important;
}

/* ends community */

/* starts about me */

.subtitle-about {
    font-size: 4em;
    color: var(--primary-color);
}


/* ends about me */

/* start footer */

footer {
    box-shadow: 0px 0px 50px 10px rgba(114, 114, 114, 0.13);
    background-color: var(--primary-color);
}

footer a,footer  h6, footer div {
    text-decoration: none !important;
    color: #fff !important;
}

footer a {
    font-family: Helvetica, sans-serif;
}

footer section {
    border-bottom: 1px solid;
    color: rgba(0, 0, 0, 0.13);
}

footer p:hover,footer i:hover, footer img:hover{
    transition: 0.3s;
    transform: scale(1.1);
}

footer p,footer i, footer img{
    transition: 0.3s;
}


/* Responsive */

/* Portatil */