@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');


@font-face {
    font-family: 'Cherolina';
    src: url('./assets/fonts/Cherolina.ttf') format('truetype');
}

:root {
    --primary-color: #683551;
    --secondary-color: #68670f;
    --light-color: #e6cbfa;
    --tertiary-color: #f6e1c8;
    --fourth-color: #da601b;
    --primary-font: "Capriola", sans-serif;
    --secondary-font: "Cherolina", sans-serif;
    --title-size: 3em;
    --subtitle-size: 3em;
    --text-size: 0.9em;
}

/*  start general styles */

html,
body {
    overflow-x: hidden;
    position: relative;
}

* {
    font-family: var(--primary-font);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(228, 228, 228, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.title {
    font-size: var(--title-size);
    font-weight: 500;
    color: var(--primary-color);
}

.subtitle {
    color: var(--primary-color);
    font-size: var(--subtitle-size);
    text-align: center;
    padding: 0.5em 0;
}

.text {
    font-size: var(--text-size);
    text-indent: 2%;
    text-align: justify;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-family: Helvetica, sans-serif;
    color: rgb(73, 73, 73);
}

.text b {
    font-size: 1em !important;
    font-family: Helvetica, sans-serif !important;
}


ul {
    list-style: none;
    font-size: var(--text-size);
    font-weight: bold;
}

ul li::before {
    content: "► ";
    color: var(--primary-color);
}

.cursive-title {
    font-family: var(--secondary-font);
    font-size: 11em;
    font-style: italic;
    margin-bottom: -0.4em;
    margin-top: -0.3em;
    color: var(--secondary-color);
}

.brand-button {
    font-family: var(--primary-font) !important;
    background-color: var(--primary-color);
    border: none;
    border-radius: 2em;
    color: #fff;
    padding: 0.5em 5em;
    box-shadow: 5px 5px 10px 5px #00000036;
    transition: 0.3s;
}

.brand-button:hover{
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 0.9;
}

.divisor {
    font-size: 2px;
    display: flex;
    align-items: center;
}

.divisor svg {
    width: 10em;
    opacity: 0.8;
}

.divisor::before,
.divisor::after {
    flex: 1;
    content: '';
    padding: 0.3px;
    background-color: rgb(133, 133, 133);
    margin: 5em;
}

.modal-body p, .modal-title,  button {
    font-family: Helvetica, sans-serif !important;
    color: black;
}

.page-img {
    border-radius: 1em !important;
    transition: 0.3s !important;
}

.page-img:hover{
    transition: 0.3s !important;
    transform: scale(0.95) !important;
}

/* end general styles*/

/* start navbar */

nav {
    box-shadow: 1px 5px 60px rgba(0, 0, 0, 0.200);
    background-color: var(--primary-color) !important;
}

.nav-link {
    font-family: var(--primary-font);
    color: rgba(255, 255, 255, 0.945) !important;
    font-size: 0.9em !important;
    transition: 0.3s !important;
    padding: 0.5em !important;
}

.nav-link:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
    opacity: 0.7;
}

#logo {
    height: 80px;
    margin: 0;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
}

/* starts home */

.header-title{
    height: 100%;
    padding: 5em;
}

.header-title h2 {
    color: #fff;
    font-size: 2em;
}

.header-title h1 {
    color: #fff;
    font-weight: 800;
    font-size: 3em;
}

.home-background {
    background-size: cover;
    background-attachment: fixed;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.082)), url(assets/landscape_background.jpg);
    background-position-y: 100%;
}

.home-background div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phrase-container {
    background-color: var(--primary-color);
    color: #f1f1f1;
    margin-top: -1em;
    padding: 5em;
}

.phrase-container span{
    color: var(--light-color) !important;
}

.phrase-container button {
    color: var(--primary-color);
    background-color: var(--light-color);
}

/* ends home*/

/* start formation and workshops*/

.landscape-container{
    height: 50vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landscape-gallery{
    background-image:  linear-gradient( rgba(104, 53, 81, 0),rgba(104, 53, 81, 0.781)), url(assets/landscape-gallery.jpg);
    background-position-y: 10%;

}

.landscape-formation{
    background-image:  linear-gradient( rgba(104, 53, 81, 0),rgba(104, 53, 81, 0.781)), url(assets/landscape-formation.jpg);
    background-position-y: 60%;
}

.landscape-container h1{
    font-size: 4em;
    color:white;
}

.landscape-container .subtitle-landscape{
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 1em;
}

.formation-container .cursive-title{
    font-size: 6em;
}

/* ends formation and workshops*/

/* starts community */

.community-title{
    margin-bottom: -1.5em;
}

.secondary-color{
    color: var(--secondary-color) !important;
}

/* ends community */

/* starts about me */

.about-me {
    margin-top: 5em;
}

.subtitle-about {
    font-size: 4em;
    color: var(--primary-color);
}

/* ends about me */

/* starts testimonials */

.carousel-control-next-icon,
.carousel-control-prev-icon, .carousel-indicators {
   filter: invert(0.5);
}

.carousel .text {
    font-size: 1em;
    padding: 1em;
    text-align: start;
}

#testimonials h3 {
    color: var(--secondary-color);
}

.carousel-content {
    padding:4em; 
}

.vertical-marker{
    color: #68670f9a;
    position: absolute;
    transform: rotate(-90deg); /* Rotación de 180 grados para compensar la rotación por defecto */
    transform-origin: top left; /* Establece el origen de la rotación en la esquina superior izquierda */
    white-space: nowrap;
    margin-left:-4em;
    font-size: 0.9em;
    margin-bottom: 15em;
 }

.carousel-img {
    padding: 1em;
    max-width: 300px;
    border-radius: 2em;
}

/* ends testimonials */

/* starts footer */

footer {
    box-shadow: 0px 0px 50px 10px rgba(114, 114, 114, 0.13);
    background-color: var(--primary-color);
}

footer a,footer  h6, footer div {
    text-decoration: none !important;
    color: #fff !important;
}

footer a {
    font-family: Helvetica, sans-serif;
}

footer section {
    border-bottom: 1px solid;
    color: rgba(0, 0, 0, 0.13);
}

footer a:hover,footer i:hover, footer img:hover, footer p:hover{
    transition: 0.3s;
    transform: scale(1.1);
    color: #a0a0a0 !important;
    cursor: pointer;
}

footer a,footer i, footer img, footer p{
    transition: 0.3s;
}

footer i {
    font-size: 1.5em;
}

.copyright {
    font-family: Helvetica, sans-serif;
}

.logo-footer{
    width: 80%;
}

/* Responsive */

/* Mobile */
 
@media only screen and (max-width: 600px) {

    #app-home div{
        width: 100% !important;
    }

    .header-title h2, .header-title h1{
        font-size: 1em;
        width: 100% !important;
    }

    .header-title {
        height: 50%;
        padding: 1em;
    }

    .home-background{
        background-attachment: local;
        background-position: right;
        background-repeat: no-repeat;
        background-position-x: 87%;
        background-position-y: 30px;
    }

    .phrase-container {
        margin-top: -1.5em;
    }

    .phrase-container h2{
        font-size: 1em;
        margin-top: 1em;
    }

    .brand-button {
        font-size: 0.8em;
        padding: 1em 2em;
    }

    .title{
        font-size: 2em;
    }

    .cursive-title{
        font-size: 7em;
    }

    .page-img {
        width: 100%;
    }

    .logo-footer {
        margin-bottom: 1em;
        margin-top: -1em;
        width: 100px;
    }

    .nav-link{
        text-align: center;
        font-size: 0.8em !important;
    }

    .subtitle-about {
        font-size: 3em;
    }

    .text{
        font-size: 1em;
    }

    .page-img{
        margin-top: 1em;
    }

    .landscape-container{
        background-size: cover;
    }

    .landscape-container h1 {
        font-size: 2em;
        padding: 0.3em;
    }

    .landscape-formation{
        background-position-x: 90%;
    }

    .formation-container .cursive-title{
        font-size: 3em;
    }

    .vertical-marker {
        margin-left:-3em;
        margin-bottom: 0;
    }

    .carousel-content {
        padding:1em;
    }


    .carousel .carousel-img{
        margin-bottom: 1.8em;
        padding: 0;
    }

    .carousel .text{
        padding-top: 0;
    }
    
    #testimonials {
        flex-direction: column;
    }

}

/* Tablet */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 1400px) {
    .home-background {
        background-position-x: 100% ;
        display: flex;
        justify-content: center;
    }

    .header-title{
        height: 30%;
        font-size: 0.8em;
    }

    .landscape-container{
        background-size: cover;
        margin-top: -2em;
    }

    .landscape-formation{
        background-position-x: 70% ;
    }

    .phrase-container {
        margin-top: -2em;
    }

    .phrase-container h2{
        font-size: 1.5em;
    }

    #community img {
        width: 100%;
    }

    #community {
        padding: 4em;
    }
    .page-img{
        width: 20%;
    }
    #testimonials {
        flex-direction: column;
    }
}